body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  background: #2548b4;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-weight: 600;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

a {
  color: #ffffff;
}

.container {
  margin: auto;
}

form {
  margin-top: 50px;
}

textarea {
  background: none;
  border: rgba(255,255,255, 0.5) solid 2px;
  color: #ffffff;
  font-weight: 600;
  padding: 5px 10px;
  width: 720px;
  resize: none;
  height: 200px;
  display: block;
}

#output-placeholder, textarea::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

textarea:focus {
  outline: none;
}

#output-text, input, form, textarea {
  font-size: 1.3rem;
}

input[type="submit"] {
  background: none;
  border: #ffffff solid 2px;
  color: #ffffff;
  font-size: 1rem;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.6s;
  display: block;
  text-align: center;
  margin: 15px auto;
}

input[type="submit"]:hover {
  background: #ffffff;
  color: #2548b4;
}

#output-text {
  border: rgba(255,255,255, 0.5) solid 2px;
  color: #ffffff;
  font-weight: 600;
  padding: 5px 10px;
  width: 720px;
  height: 200px;
  overflow-y: scroll;
  text-align: left;
}